@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.3rem;
  line-height: 1.4;
  background-color: #eaecf0;
}

h1 {
  font-size: 1.85rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.2em;
}

h2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  width: 95%;
  margin-inline: auto;
}

a {
  padding: 0.6em 1.7em;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  border-radius: 0.5em;
  color: white;
  background-color: #7f56d9;
  text-transform: uppercase;
  text-decoration: none;
}

button {
  padding: 0.8em 1em;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.05em;
  border-radius: 0.35em;
  color: white;
  background-color: #7f56d9;
  text-decoration: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4705882353);
}

a:hover, button:hover {
  background-color: #633db5;
  cursor: pointer;
}

img:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.info {
  width: min(300px, 100%);
  margin-top: 2rem;
}

.statistics {
  display: block;
  font-size: 1rem;
  margin-top: 1.5rem;
  width: 50%;
  margin-inline: auto;
}

#today-calories {
  color: rgb(22, 165, 9);
}

.accent {
  color: #7f56d9;
}

form {
  width: min(320px, 100%);
  margin-top: 2rem;
  color-scheme: #7f56d9;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 450;
}

input {
  padding: 0.5em 0.3em;
  font-size: 1rem;
  border-color: #cecece;
  border-style: solid;
  margin-top: 0.3em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1176470588);
}

input[type=checkbox] {
  width: 1.5rem;
  padding: 0.5rem;
}

label:has([disabled]) {
  color: #717171;
}

.add-meal {
  flex-direction: column;
}

.add-meal, .ingredients {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.question label {
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 1rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.ingredient-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  width: 2rem;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#add-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  order: 9999;
}

.add-ingredient_button {
  width: 2rem;
}

.articles {
  display: flex;
  flex-direction: column;
  width: min(320px, 100%);
  overflow: hidden;
  border-radius: 0.35em;
  margin-top: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1176470588);
  margin-bottom: 1rem;
}

.header {
  background-color: #7f56d9;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.7em;
  font-size: 1rem;
}

.header:nth-of-type(2n) {
  background-color: #7950d1;
}

.white {
  background-color: #fff;
  color: #450fba;
  font-weight: 500;
}

.white:nth-of-type(2n) {
  background-color: #f3f3f3;
  color: #5622c5;
}

/*# sourceMappingURL=index.css.map */
